<mat-card>
  <mat-toolbar color="primary">Formulario de Alunos</mat-toolbar>
  <mat-card-actions >
  <form [formGroup]="form"  class="min-width">
    <mat-form-field class="full-width">
      <input matInput placeholder="nome" formControlName="name">
      <mat-error *ngIf="form.get('name')?.invalid">{{getErrorMessage("name")}}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <!-- <mat-label>Ra</mat-label> -->
      <input matInput placeholder="RA" formControlName="ra">
      <mat-error *ngIf="form.get('ra')?.invalid">{{getErrorMessage("ra")}}</mat-error>
    </mat-form-field>
    <!--incerção dos times, aqui temos as cores dos times-->
    <mat-form-field class="full-width">

        <mat-label>Time</mat-label>
        <mat-select formControlName="team">
          <mat-option value="option1">Amarelo</mat-option>
          <mat-option value="option2" disabled>Azul (disabled)</mat-option>
          <mat-option value="option3">Vermelho</mat-option>
        </mat-select>

    </mat-form-field>

    <mat-toolbar>
      <span>Time Auxiliar</span>
      <button mat-icon-button color = "primary">
        <mat-icon aria-label="adionar um novo time">add</mat-icon>
      </button>
    </mat-toolbar>

    <table
    style="width: 100%"
    formArrayName = "times"
    *ngFor="let time of form.get('times').controls"
    >
      <tr>
        <td style="width: 50%">
          <mat-form-field class="full-width">
            <mat-label>Time 1</mat-label>
            <span matPrefix>+1 &nbsp;</span>
            <input matInput placeholder="Time 1" formControlName="teamOne">
          </mat-form-field>
        </td>
        <td style="width: 50%">
          <mat-form-field class="full-width">
            <mat-label>Time 2</mat-label>
            <input matInput placeholder="Time 1" formControlName="teamOne">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</mat-card-actions>

  <mat-card-actions >
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()" class="btn-space">Cancelar</button>
  </mat-card-actions>

</mat-card>
