<mat-card>
  <mat-toolbar color="primary">Formulario de Alunos</mat-toolbar>
  <mat-card-actions >
  <form [formGroup]="form"  class="min-width">
    <mat-form-field class="full-width">
      <input matInput placeholder="nome" formControlName="name">
      <mat-error *ngIf="form.get('name')?.invalid">{{getErrorMessage("name")}}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <!-- <mat-label>Ra</mat-label> -->
      <input matInput placeholder="RA" formControlName="ra">
      <mat-error *ngIf="form.get('ra')?.invalid">{{getErrorMessage("ra")}}</mat-error>
    </mat-form-field>
    <!--incerção dos times, aqui temos as cores dos times-->
    <mat-form-field class="full-width">

        <mat-label>Time</mat-label>
        <mat-select formControlName="team" [(value)]="selectedTeam">
          <mat-option value="Amarelo">Amarelo</mat-option>
          <mat-option value="Azul" >Azul</mat-option>
          <mat-option value="Vermelho">Vermelho</mat-option>

        </mat-select>

    </mat-form-field>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Time Auxiliar
        </mat-panel-title>
        <mat-panel-description>
          Adicione uma nova equipe
          <mat-icon>outlined_flag</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>


<!-- formArrayName="times"
    *ngFor="let times of getTimesFormsArray(); let i = index" -->
<!-- [formGroupName]="i" -->
    <table
    style="width: 100%"
     >
      <tr >
        <td style="width: 50%">
          <mat-form-field class="full-width">
            <mat-label>Time 1</mat-label>
            <input matInput placeholder="Selected Time" [value]="selectedTeam" readonly>
          </mat-form-field>
        </td>
        <td style="width: 50%">
          <mat-form-field class="full-width">

            <mat-label>Time</mat-label>
            <mat-select formControlName="teamTwo" >
              <mat-option value="Amarelo">Amarelo</mat-option>
              <mat-option value="Azul" >Azul</mat-option>
              <mat-option value="Vermelho">Vermelho</mat-option>

            </mat-select>

        </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-expansion-panel>
  </form>
</mat-card-actions>

  <mat-card-actions >
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()" class="btn-space">Cancelar</button>
  </mat-card-actions>

</mat-card>
